* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    --bggray: #111111;
    --darkgray: #202020;
    --lightgray: #cccccc;
    --green: rgb(18, 223, 120);
    
}

body {
    background-color: var(--bggray);
}

header {
    width: 100vw;
    height: 10vh;
    z-index: 1;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--green);
    font-size: 6rem;
    user-select: none;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: #2b2b2b; */
    height: 75vh;
    width: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;
}



.button {
    background-color: var(--green);
    flex-basis: 20vh;
    height: 20vh;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--lightgray);
    font-size: 3rem;

    user-select: none;
    cursor: pointer;

    transition: transform 400ms ease, margin 1s ease;

    z-index: 1;
}

.middle {
    margin: 5rem;
}

.toggleMargin {
    margin: 0;
}

.button:hover {
    transform: scale(1.05);
}

.content {
    background-color: var(--green);
    position: absolute;
    height: 80vh;
    width: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: clip-path 1s;
}

.leftContent {
    clip-path: circle(10vh at 17.5%);
}

.rightContent {
    clip-path: circle(10vh at 82.5%);
}

.middleContent {
    clip-path: circle(10vh at 50%);
}

.extended {
    clip-path: circle(30vh at 50%);
    z-index: 2;
}

.invisible {
    opacity: 0;
}


.backButton {
    height: 100vh;
    width: 100vw;
    position: fixed;


}

.cover {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    background-color: var(--bggray);
    clip-path: circle(0 at 50%);
    transition: clip-path 600ms ease-in;
    position: absolute;
    z-index: 5;
}

.coverUncovered {
    clip-path: circle(25vh at 50%);
}

.setPointer {
    cursor: pointer
}